* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.oMnie {
    background-color: #141414;
    height: 100vh;
}

nav.menu {
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    z-index: 2;
}



nav.menu div {
    margin: 10px 50px;
    color: white;
    font-family: 'Lexend Mega';
    text-transform: uppercase;
}

nav.menu div:nth-of-type(1) {
    margin-right: 100px;
}

img {
    margin-top: 50px;
    width: 600px;
}

.portfolio {
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    background-color: #141414;
}